body{
	background-image: url("grid.png");
	height:750px;
	
}
.fb-header-base{
	width:100%;
	height:90px;
	position:absolute;
	top:0;
	left:0;
	color:white;
	z-index:7;
	font-family:verdana;
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}
.fb-header{
	width:100%;
	height:90px;
	position:absolute;
	background:#3b5898;
	top:0;
	left:0;
	color:white;
	z-index:7;
    font-family:verdana;
    border: 1px solid #3b5898;
	
}
#img1{
	padding-left:429px;
    font-size: 22px;
}
#form1{
	left:1015px;
	height:60px;
	width:180px;
	top:13px;
	font-family:verdana;
	font-size:12px;
}
#form1 input,#form2 input{
    border: 1px solid #1c2a5b;
    width: 150px;
    height: 22px;
}
#form2{
	left:1178px;
	height:60px;
	width:250px;
	top:13px;
	font-family:verdana;
	font-size:12px;
}
.submit1{
	left: 1340px;
	top:27px;
	background:#4267b2;
	color:white;
	position:fixed;
	z-index:20;
	height:24px;
	border: 1px solid #29487d ;
	cursor:pointer;
	

	
}
.fb-body{
	position:absolute;
	left:0px;
	top:90px;
	width:100%;
	height:645px;
	

}
#intro0{
    background: linear-gradient(white, #D3D8E8);
}
#intro1{
	left:429px;
	top:40px;
	font-family:verdana;
	font-size:20px;
	color:#142170;
	height:75px;
    width:550px;
    font-weight: bold;
}
#intro2{
	left:1015px;
	top:20px;
	font-family:verdana;
	font-size:40px;
	color:#000;
	font-weight:bold;
	height:75px;
	width:500px;
}
#img2{
	top:130px;
	left:429px;
	width:537px;
	height:195px;
}
#intro3{
	left:1015px;
	top:80px;
	font-family:verdana;
	font-size:20px;
	color:#000;
	height:50px;
	width:300px;
}
#form3{
	top:120px;
	left:1015px;
	font-family:verdana;
	font-size:20px;
	color: #90949c;
    font-size: 16px;
	font-weight: bold;
	width:450px;
	height:495px;
	
}
#form3 select{
	height: 30px;
	background-color: white;
	border-color: #bdc7d8;
}
#namebox{
	width:200px;
	height:40px;
	border-radius:5px 5px 5px 5px;
	background:white;
	padding:10px;
	font-size:18px;
	margin-top:8px;
	border-width: 1px;
	border-style:solid;
	border-color: #bdc7d8;
}
#mailbox{
	width:408px;
	height:40px;
	border-radius:5px 5px 5px 5px;
	background:white;
	padding:10px;
	font-size:18px;
	margin-top:8px;
	border-width: 1px;
	border-style:solid;
	border-color: #bdc7d8;
}
#r-b{
	font-size:12px;
	height:15px;
	width:15px;
}
.button2{
	width:200px;
	height:40px;
	left:750px;
	top:625px;
	background:#5f9c4c;
	font-family:verdana;
	font-size:20px;
	color:white;
	border-radius:4px;
	border-width: 1px;
	border-style:solid;
	border-color: #3b6d22;
	cursor:pointer;
    outline:none;
    font-weight: bold;
	
}
#intro4{
	font-family:verdana;
	font-size:12px;
	color:gray;
	
}
#intro5{
	font-family:verdana;
	font-size:14px;
	color:gray;
	
}
.fb-body-footer{
	width:100%;
	position:absolute;
	left:0px;
	height:80px;
	background:white;
	top:700px;
	
}
#fb-body-footer-base{
	width:900px;
	top:15px;
	left:429px;
	color:blue;
	height:60px;
}
.fb-body-footer td{
	color: blue;
	height:60px;
	padding-right: 5px;
}